* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
a {
  text-decoration: none;
}
.container {
  width: 100vw;
  height: 100vh;
}
nav {
  background-color: skyblue;
  box-shadow: 5px 10px 10px #888888;
}
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}
nav > ul > li {
  list-style: none;
  margin-right: 20px;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.backGround {
  background-color: beige;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: green;
}
h1 {
  margin-right: 50px;
}
